:root {
    --dark-color: #1f2937;
    --main-text-color: #f9faf8;
    --secondary-text-color: #e5e7eb;
    --call-to-action-color: #3882f6;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;

}

body {
    font-family: Roboto, sans-serif;
}

header {
    background-color: var(--dark-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 13vw;
}

.header-logo {
    color: var(--main-text-color);
    font-size: 24px;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 2vw;
}

nav a {
    color: var(--secondary-text-color);
    font-size: 18px;
}

.hero {
    background-color: var(--dark-color);
    padding: 8vw 13vw;
    display: flex;
    gap: 2vw;
}

.hero-content {
    flex: 1 1 0;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 48px;
    color: var(--main-text-color);
    font-weight: 900;
}

.hero p {
    font-size: 18px;
    color: var(--secondary-text-color);
}

button {
    background-color: var(--call-to-action-color);
    color: var(--main-text-color);
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    font-weight: bold;
    align-self: flex-start;
}

.hero-image-placeholder {
    flex: 1 1 0;
    background-color: hsl(240, 4%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-text-color);
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vw 16vw;
    gap: 2rem;
}

h2 {
    font-size: 36px;
    color: var(--dark-color);
    font-weight: 900;
}

.cards {
    display: flex;
    gap: 6vw;
}

.card {
    display: flex;
    flex-direction: column;
}

.card-image-placeholder {
    border: 0.2rem solid var(--call-to-action-color);
    width: 9rem;
    height: 9rem;
    border-radius: 1rem;
}

.card span {
    text-align: center;
    width: 9rem;
}

.quote {
    background-color: var(--secondary-text-color);
    padding: 12vw 19vw;
    display: flex;
    flex-direction: column;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    color: var(--dark-color);
}

.quote span {
    align-self: flex-end;
    font-weight: bold;
    font-size: 18px;
}

.call-to-action {
    padding: 8vw 0;
    display: flex;
    justify-content: center;
}

.call-to-action-banner {
    display: flex;
    background-color: var(--call-to-action-color);
    padding: 4vw 8vw;
    border-radius: 1vw;
    gap: 8vw;
    align-items: center;
}

.call-to-action-banner-content-heading {
    color: var(--main-text-color);
    font-weight: bold;
}

.call-to-action-banner-content-paragraph {
    color: var(--secondary-text-color);
}

.call-to-action-banner-button {
    border: 0.2rem solid var(--main-text-color);
}

.footer {
    background-color: var(--dark-color);
    color: var(--secondary-text-color);
    text-align: center;
    padding: 2vw 0;
    font-size: 18px;
}