:root {
    --dark-color: #1f2937;
    --main-text-color: #f9faf8;
    --secondary-text-color: #e5e7eb;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
}

header {
    background-color: var(--dark-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 10vw;
}

.header-logo {
    color: var(--main-text-color);
    font-size: 24px;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 2vw;
}

nav a {
    color: var(--secondary-text-color);
}